* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.fa-snowflake {
  transition: all linear;
  animation: rot 2s linear infinite;
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.left-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.left-div button {
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 2rem;
  outline: none;
  font-size: 1.2rem;
  box-shadow: 0 8px 6px -6px #000;
}
.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  margin-top: auto;
  width: 100%;
}
footer p {
  margin: 0;
  color: aliceblue;
  background-color: #000;
  line-height: 3.5rem;
}

/* Weather page */
.data_hide {
  visibility: hidden;
  display: none;
}
